[submodule "models"]
	path = models
	url = https://github.com/jose-sv/resnet.git
[submodule "sgx-poc/--force"]
	path = sgx-poc/--force
	url = https://bitbucket.org/ricpacca/nukemod.git
[submodule "sgx-poc/sgx_scheduling"]
	path = sgx-poc/sgx_scheduling
	url = https://github.com/jose-sv/sgx_scheduling.git
[submodule "sgx-poc/nukemod"]
	path = sgx-poc/nukemod
	url = https://github.com/ricpacca/nukemod.git
